[Desktop Entry]
Name=iCreator
Exec=/home/kasm-user/iCreator/integem-creator --no-sandbox
Terminal=false
Type=Application
Icon=/home/kasm-user/iCreator/integem-creator.png
StartupWMClass=iCreator
X-AppImage-Version=1.3.601
Comment=integem creator ui
MimeType=x-scheme-handler/ic;
Categories=Education;